<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mandal.name %>
</p>

<p>
  <b>Address:</b>
  <%= @mandal.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @mandal.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @mandal.longitude %>
</p>

<p>
  <b>Description:</b>
  <%= @mandal.description %>
</p>

<p>
  <b>Wiki link:</b>
  <%= @mandal.wiki_link %>
</p>

<p>
  <b>Website:</b>
  <%= @mandal.website %>
</p>

<p>
  <b>Facebook page:</b>
  <%= @mandal.facebook_page %>
</p>

<p>
  <b>Remote image url:</b>
  <%= @mandal.remote_image_url %>
</p>

<p>
  <b>Remote banner url:</b>
  <%= @mandal.remote_banner_url %>
</p>

<p>
  <b>Remote banner1 url:</b>
  <%= @mandal.remote_banner1_url %>
</p>

<p>
  <b>Remote banner2 url:</b>
  <%= @mandal.remote_banner2_url %>
</p>

<p>
  <b>Remote banner3 url:</b>
  <%= @mandal.remote_banner3_url %>
</p>


<%= link_to 'Edit', edit_mandal_path(@mandal) %> |
<%= link_to 'Back', mandals_path %>
