
<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Blog</title>
  <meta charset="utf-8">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
  <meta name="description" content="Your description">
  <meta name="keywords" content="Your keywords">
  <meta name="author" content="Your name">
  
    
  <script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='js/jquery.preloader.js'></"+"script>");}  </script>
  <script>    
     jQuery(window).load(function() { 
     $x = $(window).width();    
  if($x > 1024)
  {     
  jQuery("#content .row").preloader();} 
  
  jQuery(".list-blog li:last-child").addClass("last"); 
  jQuery(".list li:last-child").addClass("last"); 

  
    jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});  
        }); 
          
  </script>

  <!--[if lt IE 8]>
      <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
  <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <![endif]-->
  </head>

  <body>
<div class="spinner"></div>
<!--============================== header =================================-->

<div class="bg-content">       
  <!--============================== content =================================-->      
   <div id="content"><div class="ic"></div>
    <div class="container">
          <div class="row">
        <article class="span8">
         <div class="inner-1">         
          <ul class="list-blog">
            <li>  
            <h3 class="text-center"><%= @district.name %></h3> 
            <hr>    
            <div class="clear"></div>            
              <img class="text-center" alt="<%= @district.name %>" src="<%= @district.remote_image_url %>" height="200" width="630">                               
              <p><%= @district.description %>.</p>
              <%= link_to 'Back', districts_path %>
         
            </li>  
                        
            
                                 
          </ul>
          <hr>
          </div> <!-- districts show page -->


        <div><h1>Places in <%= @district.name %> </h1>
         <hr>
          
           <% @district.places.each do |place| %>
               <li> <h5> <%= link_to place.name,place %></h5></li>
            <% end %>
        </div>
        


        </article>
        <article class="span4">
          <h3 class="extra">Search</h3>
         
          <h3>Nearby Places</h3>
          <hr>
          <ul class="list extra extra1"> 

          
         </ul> <!-- places ends here -->
          <h3>Mandals in <%= @district.name.upcase %></h3>
          <hr>
         <div class="wrapper">
          <ul class="list extra2 list-pad ">
            <% @district.mandals.each do |mandal| %>
               <li> <h3> <%= link_to mandal.name,mandal %></h3></li>
            <% end %>
          </ul>
         
          
          </div>
        </article>
      </div>
     </div>
  </div>
 </div>

<!--============================== footer =================================-->

<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>